dns_rfc2136_server = {{ vault_rfc2136_server }}
dns_rfc2136_port = {{ vault_rfc2136_port }}
dns_rfc2136_name = {{ vault_rfc2136_tsig_key_name }}
dns_rfc2136_secret = {{ vault_rfc2136_tsig_secret }}
dns_rfc2136_algorithm = {{ vault_rfc2136_tsig_algorithm }}
